/** {
	border: 1px solid red !important;
}*/

body {
	/*background-color: #23addb;*/

}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}


h1,
h2,
h3 {
	color: #747704;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-weight: 200;
	font-size: 48px;
	font-family: 'Lato', sans-serif;
}

p {
	color: #747704;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

hr {
	background-color: #bcbbbb;
	border: none;
	height: 2px;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

a {
	color: #bcbbbb;
	text-decoration: underline thin;

}
/* TODO make these cleaner? Quick fix for now */
.social {

	margin: 25px 75px 25px 75px;
	text-decoration: none !important;

}
a:visited {
	color: #bcbbbb;
}
a:hover {
	color: #bcbbbb;
}

.custom-h-p {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#map {
	height: 100%;
	width: 100%;
}

.map_holder {
	height: 600px;

}

#infowindow>p {
	color: black;
	font-size: 14px;
}

/* column holding profile photo */
.logo-box {
	padding: 20px 0 0 10px;
}
