h1 {
	font-weight: 100;
	font-size: 58px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 5px
}

h2 {
	color: #bcbbbb !important;
	font-size: 42px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h3 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

h4 {
	/* colour differs from spec as provided colour appears green */
	color: #7d7d63;
	font-family: 'Lato', sans-serif;
	margin-top: 0;
	font-size: 22px;
}

p {
	color: #747704;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

hr {
	background-color: #bcbbbb;
	border: none;
	height: 3px;
}

a {
	color: #bcbbbb;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/* TODO make these cleaner */
.social {
	margin: 25px 75px 25px 75px;
	text-decoration: none !important;
}

/* disable text-decoration */
a:visited {
	color: #bcbbbb;
}

a:hover {
	color: #bcbbbb;
}

/* column holding profile photo */
.logo-box {
	padding: 20px 0 0 10px;
}


